/* Variables */
$font-weight: 800;



/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=VT323');

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

$font-family-1: 'Roboto',
sans-serif;
$font-family-2: 'Montserrat',
sans-serif;
$font-family-3: 'VT323',
monospace;
$font-family-4: 'Oswald', sans-serif;
