/* Variables */
$font-weight: 800;

/* Mixing */
@mixin unicornBefore() {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}


@mixin unicornAfter() {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(360deg, #000, transparent);
    pointer-events: none;
}

@mixin btnSetD1() {
    padding: 1.2rem 2rem;
    font-size: 1.25rem;
    line-height: 2;
    border-radius: 500px;
    margin-top: 20px;
}

@mixin btnSetD2() {
    padding: .4rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 2rem;
    margin-bottom: 30px;
}

@mixin btnSetD3 {
    padding: 1.5rem 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 50%;
}

@mixin btnSetSmScr() {
    padding: .8rem 0.8rem;
    font-size: 1.2rem;
    line-height: 1.3;
    border-radius: 2rem;
}


/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=VT323');

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

$font-family-1: 'Roboto',
sans-serif;
$font-family-2: 'Montserrat',
sans-serif;
$font-family-3: 'VT323',
monospace;
$font-family-4: 'Oswald', sans-serif;


/* Reset */

* {
    outline: none !important;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $font-family-2;
    height: 100%;
    background: #000;
}

/* Nav Bar */


header {
    position: relative;
    z-index: 1000000;
}

.navbar {
    background: transparent !important;
    transition: 0.5s;
}

.navbar.scrolled {
    background: #000 !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    background-color: darkorange;
}

.navbar-light .navbar-nav .my>.nav-link,
.navbar-light .navbar-nav .nav-link.show {
    color: #000;
    background-color: #fff;
}




.navbar-light .navbar-nav .active>.nav-link:hover {
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
}


.navbar-light .navbar-toggler {
    background: #fff;
    border-radius: 0;
}


/* Landing Page */

#home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1496293455970-f8581aae0e3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1001&q=80') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    display: table;
    background-size: cover;
    position: relative;

    .landing-page {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-family: $font-family-4;

        
    }

    h1 {
        font-size: 5rem;
        font-weight: 900;
        color: darkorange;

    }

    h3 {
        color: cornsilk;
    }
    

}

#home::before {
    @include unicornBefore();
    height: 280px;

}

#home::after {
    @include unicornAfter();
    height: 200px;
}

/* Button Style */

.btnSetD1 {
    @include btnSetD1();
}

/* About Section*/

#about {
    background-color: #000000;
    color: #fff;
    margin: 0;
    padding: 0;

    .btnSetD2 {
        @include btnSetD2();
    }

}

#about::before {
    @include unicornBefore();
}


#about::after {
    @include unicornAfter();
}

/* Fixed Img */

#fixed-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/fixed-img.jpg') no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#fixed-img::before {
    @include unicornBefore();
    height: 200px;
}

#fixed-img::after {
    @include unicornAfter();
    height: 200px;
}

/* About-Member Section */

.padding {
    padding: 0 80px;
}

#about-memb {
    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
    }


    .card {
        background-color: #000000;
        color: #fff;
        margin: 0 auto;
    }

    .card {
        background-color: #000000;
        color: #fff;
        margin: 0 auto;
    }

    img {
        border: 1px solid #abc;
        border-radius: 20px;
    }


    .btnSetD2 {
        @include btnSetD2();
    }

}


/* Music Section */


#music {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/music.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    display: table;
    background-size: cover;
    position: relative;



    .landing-page {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    color: brown;

    h1 {
        font-size: 5rem;
        font-weight: 900;

    }

    h3 {
        color: cornsilk;
        font-size: 1.8rem;
    }

    a {
        font-size: 1.5rem;

    }
}

#music::before {
    @include unicornBefore();
    height: 350px;
}

#music::after {
    @include unicornAfter();
    height: 350px;
}

.btnSetD1 {
    @include btnSetD1();
}

#musicFixed-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1487180144351-b8472da7d491?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80') no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
    color: #fff;

    h4 {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-bottom: 20px;
    }

    .row {
        iframe {
            width: 100%;
            height: 315px;
            margin: 0 auto;
            max-width: 100%;
            overflow: hidden;
            margin-top: 20px;
            border: 10px;
        }
    }
}

#musicFixed-img::before {
    @include unicornBefore();
    height: 350px;
}

#musicFixed-img::after {
    @include unicornAfter();
    height: 50px;
}


.padding {


    h1 {
        margin-top: 30px;
        color: lightgoldenrodyellow;
        font-size: 3em;
        font-weight: 700;

    }

    iframe {
        width: 100%;
        height: 380px;
        margin: 0 auto;
        max-width: 100%;
        overflow: hidden;
        margin: 10px;
        border: 4px solid rgba(238, 255, 0, 0.5);
        border-radius: 10px;
    }

}

.album {
    h1 {
        margin-top: 30px;
        color: lightgoldenrodyellow;
        font-size: 3em;
        font-weight: 700;
    }


    p {
        color: lightgoldenrodyellow;
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: indianred;
    }

    a:hover {
        text-decoration: none;
        color: orangered;
    }

    .fa-music {
        font-size: 1.5rem;
    }

    iframe {
        width: 100%;
        height: 380px;
        margin: 0 auto;
        max-width: 100%;
        overflow: hidden;
        margin-top: 20px;
        border: 5px solid rgba(238, 255, 0, 0.5);
        border-radius: 10px;
    }
}



/* Galary Section */

#galaryHeader {
    color: #fff;
    margin-top: 100px;
}

.btnSetD3 {
    @include btnSetD3();
}

.img-grid {
    .row {
        display: -ms-flexbox;
        /* IE 10 */
        display: flex;
        -ms-flex-wrap: wrap;
        /* IE 10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

    .column {
        -ms-flex: 50%;
        /* IE 10 */
        flex: 50%;
        padding: 0 4px;


        img {
            margin-top: 8px;
            vertical-align: middle;
        }
    }

}


.responsive {
    width: 100%;
    height: auto;
    margin: 6px;
    max-width: 100%;
}


/* Contact Section */

.contact {
    position: relative;
    padding: 100px 0;
    background: url('../img/contact.jpg');
    background-size: cover;
    min-height: 100vh;
    color: #fff;

    h2 {
        font-size: 4rem;
        font-weight: 700;
    }

    .form-control {
        background: transparent;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        height: 50px;
        border-radius: 0;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        font-size: 1.25rem;

    }

    .form-control:focus,
    .form-control:hover {
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 1);
        box-shadow: none;
    }

    label {
        color: #fff;
        font-size: 1.25rem;
    }

    .textarea {
        min-height: 100px;

    }

    form {
        position: relative;
        z-index: 1000;

    }

    .btnSetD4 {
        @include btnSetD2();
    }

    .btnSetD4:hover {
        background-color: brown;
        color: white;
    }
}

.contact:before {
    @include unicornBefore();
    height: 400px;
}

.contact::after {
    @include unicornAfter();
    height: 400px;
}

