/* Variables */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
/* Variables */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
/* Reset */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  outline: none !important;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Oswald', sans-serif;
  height: 100%;
  background: #000;
}

/* Mixing */
/* Before Effect*/
/* After Effect*/
/*Buttons Mixin */
/* Footer Section */
.myFooter {
  background-color: #000;
  padding: 50px 0 0;
  color: #fff;
}

.myFooter p {
  text-align: center;
}

.myFooter .fontAweIcon {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.myFooter .fontAweIcon li {
  list-style: none;
  margin: 0 20px;
}

.myFooter .fontAweIcon a {
  color: orange;
  text-decoration: none;
  font-size: 2rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: block;
  overflow: hidden;
}

.myFooter .fontAweIcon a:hover {
  color: red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.myFooter .copyright .fa-copyright {
  color: orange;
}

.myFooter .copyright img {
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: inline-block;
}

.myFooter .copyright img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* NavBar */
/* NavBar Link Color*/
ul li a {
  color: #fff;
}

/* NavBar Link Hover Color*/
nav ul li a:hover,
nav ul li a:focus {
  background-color: #ef5350;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/*Show On Top All Elements*/
.navbar-fixed {
  position: absolute;
  z-index: 999999999;
}

/*Scroll Effect */
.scrolled {
  background: #000 !important;
  height: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*Side NavBar*/
.sidenav {
  height: 250px;
  width: 200px;
  margin-top: 60px;
}

.sidenav li a {
  color: #fff;
}

.sidenav li a:hover {
  background-color: #ff9800;
}

/* Variables */
/* Fonts */
/* Mixing */
/* Before Effect*/
/* After Effect*/
/*Buttons Mixin */
/* Hero Home */
#heroHome {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/Home-Img.jpg") no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Home-Img.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  display: table;
  background-size: cover;
  position: relative;
}

#heroHome .landing-page {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#heroHome h1 {
  font-size: 5rem;
  font-weight: 900;
  color: darkorange;
  text-transform: uppercase;
}

#heroHome h3 {
  font-size: 2rem;
  color: aliceblue;
}

#heroHome p {
  font-size: 1.7rem;
  color: cornsilk;
}

#heroHome .btnSetD1 {
  line-height: 3.4rem !important;
  padding: 0 1rem 0 3rem !important;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  background: transparent !important;
  border-radius: 1rem;
  color: #FFFFFF !important;
  border: 1px solid #cc005f !important;
}

#heroHome .btnSetD1:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #cc005f !important;
}

#heroHome .heroSpan {
  padding: 0 0 0 2rem !important;
}

#heroHome::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(360deg, #000, transparent);
  pointer-events: none;
  height: 200px;
}

/* Mixing */
/* Before Effect*/
/* After Effect*/
/*Buttons Mixin */
/* About Section */
/* About Section */
#about {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

#about h1 {
  font-size: 5rem;
  color: aquamarine;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

#about h5 {
  font-size: 2rem;
  color: bisque;
  font-weight: 600;
  text-align: right;
}

.hidden {
  display: none;
}

.btnSetD2 {
  padding: 1rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 2rem;
  margin-bottom: 30px;
}

/* Member Section */
#about-memb h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: bisque;
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}

#about-memb .card {
  background-color: #000000;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
}

#about-memb .card .card-content .card-title {
  font-weight: 800;
}

#about-memb img {
  border: 1px solid #fff;
  border-radius: 20px;
}

#about-memb .modal {
  padding-top: 90px !important;
}

#about-memb .modal,
#about-memb .modal-footer {
  background-color: #abc !important;
  color: #000 !important;
}

#about-memb .modal h4 {
  font-weight: 800;
}

/*Modal Btn Style*/
.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-small,
.modal .modal-footer .btn-flat {
  border: 1px solid #000;
  background-color: beige;
}

.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-small,
.modal .modal-footer .btn-flat:hover {
  border: 1px solid #000;
  background-color: brown;
  color: #fff;
}

/* Mixing */
/* Before Effect*/
/* After Effect*/
/* Music Section */
#music {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/music.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/music.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: table;
}

#music .landing-page {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#music h1 {
  font-size: 5rem;
  font-weight: 900;
  color: brown;
  text-transform: uppercase;
}

#music h3 {
  color: cornsilk;
  font-size: 2rem;
}

#music a {
  font-size: 1.5rem;
}

#music .btnSetD1 {
  color: #FFFFFF !important;
  border: 1px solid brown !important;
  padding: 0 2rem 0 2rem !important;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  background: transparent !important;
  height: 80px;
  line-height: 80px;
  border-radius: 2rem;
}

#music .btnSetD1:hover {
  color: #FFFFFF;
  background-color: brown !important;
}

#music::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  background: linear-gradient(#000, transparent);
  pointer-events: none;
  height: 300px;
}

#music::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(360deg, #000, transparent);
  pointer-events: none;
  height: 250px;
}

/* Single Section */
#single .padding h1 {
  margin-top: 30px;
  color: lightgoldenrodyellow;
  font-size: 5em;
  font-weight: 700;
}

#single .padding iframe {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  margin: 10px;
  border: 4px solid rgba(238, 255, 0, 0.5);
  border-radius: 10px;
}

/* Music Video Section */
/* Music Video */
#musicVideo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/musicFixed1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/musicFixed1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: table;
}

#musicVideo .landing-page {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#musicVideo h1 {
  padding: 20px;
  margin-top: 60px;
  color: paleturquoise;
  font-size: 5em;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 20px;
}

#musicVideo h4 {
  position: relative;
  color: #fff;
}

#musicVideo .iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

#musicVideo .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  border-radius: 10px;
}

#musicVideo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  background: linear-gradient(#000, transparent);
  pointer-events: none;
  height: 150px;
}

#musicVideo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(360deg, #000, transparent);
  pointer-events: none;
  height: 120px;
}

/* Album Section */
#album h1 {
  color: gold;
  font-size: 5em;
  font-weight: 700;
  padding-bottom: 40px;
}

#album h3 {
  color: #FFFFFF;
  font-size: 2rem;
}

#album .fa-music {
  color: orange;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#album .fa-music:hover {
  color: red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#album .iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 300px;
  margin-bottom: 20px;
}

#album .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}

/*Buttons Mixin */
/* Galary Section */
#galary h1 {
  font-size: 5rem;
  font-weight: 800;
  color: orangered;
}

#galary button {
  margin: 10px;
}

#galary .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

#galary .col {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 0 4px;
}

#galary .col img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Mixing */
/* Before Effect*/
/* After Effect*/
/*Buttons Mixin */
/* Contact Section */
#contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/contact.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  /* label color */
  /* label focus color */
  /* Text Area */
}

#contact h1 {
  font-size: 5rem;
  font-weight: 800;
  color: crimson;
  margin: 0;
}

#contact p {
  color: #fff;
}

#contact .input-field {
  margin-bottom: 20px;
}

#contact form {
  position: relative;
  z-index: 1000;
}

#contact .input-field label {
  color: #fff !important;
  margin-bottom: 30px !important;
  padding-bottom: 40px !important;
}

#contact .input-field input[type=text]:focus + label,
#contact .input-field input[type=email]:focus + label,
#contact .input-field textarea:focus + label,
#contact .input-field input[type=number]:focus + label {
  color: orange !important;
  font-size: 1.4rem !important;
  margin-bottom: 20px !important;
  line-height: 1rem !important;
}

#contact .input-field > label {
  margin-bottom: 50px !important;
  line-height: 1rem !important;
  font-size: 1rem !important;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  height: 50px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 1.25rem;
}

#contact .form-control:focus,
#contact .form-control:hover {
  border: none !important;
  border-bottom: 5px solid rgba(255, 255, 255, 0.9) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#contact textarea {
  color: #fff;
  height: 100px;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-bottom: 5px solid rgba(255, 255, 255, 0.9) !important;
  background: transparent;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
  outline: none !important;
}

#contact textarea:focus,
#contact textarea:active,
#contact textarea:hover,
#contact textarea:focus-within {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border-bottom: 5px solid rgba(255, 255, 255, 0.9) !important;
}

#contact .formBtn {
  padding: .8rem 0.8rem;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 2rem;
}
/*# sourceMappingURL=main.css.map */